html {
  font-size: 16px;
}
body {
  background-color: #161d27;
  color: #fff;
  color: #d7d7d7;
  font-family: Outfit;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2rem; /* 160% */
  letter-spacing: 0.025rem;
}
h2 {
  color: #fff;
  font-family: Cormorant Garamond;
  font-size: 2.8125rem;
  line-height: 3.65625rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.025rem;
  text-transform: capitalize;
}
.container {
  max-width: 87rem;
  padding: 0 1rem;
  margin: 0 auto;
}
